/* =============== kyeframes =============== */

@keyframes display-text-im {
     25%,
     100% {
          display: none;
     }
}

@keyframes show-content {
     100% {
          visibility: visible;
          opacity: 1;
     }
}

@keyframes fill-text {
     10%,
     100% {
          width: 0px;
     }

     70%,
     90% {
          width: 100%;
     }
}

@keyframes fill-text-name {
     10%,
     100% {
          width: 0px;
     }

     70%,
     90% {
          width: 100%;
     }
}

@keyframes show-all {
     from {
          opacity: 0;
          transform: translate(10px) scale(0.5);
          filter: blur(20px);
     }

     to {
          opacity: 1;
          transform: translate(0px) scale(1);
          filter: blur(0px);
     }
}

@keyframes show-all2 {
     from {
          opacity: 0;
          transform: translate(10px) scale(0.5);
          filter: blur(20px);
     }

     to {
          opacity: 1;
          transform: translate(0px) scale(1);
          filter: blur(0px);
     }
}
