@import url(../StaylesCss/colors.css);
@import url(./main.css);
@import url(../StaylesCss/keyframes.css);

/* =============== About Page =============== */

.about-me-home {
     display: flex;
     padding-top: 150px;
     visibility: hidden;
     opacity: 0;
     width: 100%;
     min-height: 80vh;

     animation: show-content 1.6s linear forwards;
}

/* =============== About Page Content =============== */

.name-about {
     padding-left: 25px;
     font-size: 40px;
     font-weight: bold;
     position: absolute;
     cursor: default;
     width: fit-content;

     animation: show-all both;
     animation-timeline: view();
     animation-range: entry 20% cover 40%;
}

.name-about-me {
     position: relative;
     display: inline-block;
     color: transparent;
     -webkit-text-stroke: 0.7px var(--hoverf--color);
     animation: display-text-im 16s linear infinite;
     animation-delay: calc(-4s * var(--n));
}

.name-about-me::before {
     content: attr(data-text);
     position: absolute;
     width: 0%;
     border-right: 2px solid var(--hoverf--color);
     color: var(--hoverf--color);
     white-space: nowrap;
     overflow: hidden;

     animation: fill-text-name 4s linear infinite;
}

.content-aboutme {
     display: flex;
     margin-left: 100px;
     margin-top: 50px;
     padding: 20px;
     width: 1200px;
}

.about-me-pra {
     width: fit-content;
     height: fit-content;
     display: inline-block;
     font-size: 20px;
     line-height: 1.6;
     color: var(--Fonts-color);
     display: flex;
     flex-wrap: wrap;
     padding-bottom: 10px;
     border-bottom: 1px solid var(--hoverf--color);

     animation: show-all2 both;
     animation-timeline: view();
     animation-range: entry 15% cover 30%;
}

/* =============== Media Queries =============== */

/* Tablet and smaller screens */
@media (max-width: 1250px) {
     .content-aboutme {
          width: 90%;
          margin-left: 120px;
          margin-right: 120px;
          margin-top: 30px;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
     }

     .name-about {
          width: 100%;
          text-align: center;
          padding-left: 0;
          display: block;
     }
}

@media (max-width: 992px) {
     .about-me-home {
          padding-top: 100px;
          height: auto;
          flex-direction: column;
          align-items: center;
          padding-bottom: 50px;
     }

     .name-about {
          position: relative;
          margin-bottom: 20px;
          font-size: 35px;
     }

     .content-aboutme {
          margin-left: 120px;
          width: 90%;
          border-bottom: none;
          padding: 20px 15px;
     }

     .about-me-pra {
          text-align: center;
          font-size: 22px;
     }
}

@media (max-width: 768px) {
     .about-me-home {
          padding-top: 120px;
     }

     .name-about {
          font-size: 26px;
     }

     .content-aboutme {
          width: 95%;
          padding: 10px;
     }
}

@media (max-width: 480px) {
     .name-about {
          font-size: 25px;
          margin: 0px;
     }

     .content-aboutme {
          width: 100%;
          padding: 10px 5px;
     }
}
