@import url(../StaylesCss/colors.css);
@import url(./main.css);
@import url(../StaylesCss/keyframes.css);

.cards {
     display: flex;
     flex-flow: wrap row;
     justify-content: center;
     align-items: center;
     text-align: center;
     min-height: 50vh;
     width: 100%;
     padding-top: 30vh;
     gap: 50px;
     margin-bottom: 50vh;
}

.card {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;

     border: 1px solid var(--hoverf--color);
     border-radius: 15px;
     padding: 15px;
     background-color: rgb(0 0 0 / 50%);

     width: 350px;
     height: 350px;

     animation: show-all both;
     animation-timeline: view();
     animation-range: entry 0% cover 40%;

     transition: 0.5s;
}

.card-name {
     font-size: 30px;
     font-weight: bold;
     margin-bottom: 5vh;
}

.p-card {
     font-size: 20px;
     font-weight: bold;
     display: inline-block;
}


/* =============== Media Queries =============== */

@media (max-width: 767px) {
     .card {
          transform: scale(0.8);
     }

}

@media (min-width: 1025px) and (max-width: 1439px) {
     .card {
          width: 330px;
          height: 330px;
     }
}
