/* @import url(../StaylesCss/colors.css);
@import url(./main.css);

.skills-home {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     visibility: hidden;
     opacity: 0;
     width: 100%;
     height: 100vh;
     margin-bottom: 100px;

     animation: show-content 1.6s linear forwards;
} */
